{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-9 col-sm-offset-1 center">
            <h1>Garden Diary -- Dashboard</h1>

            {% include '_flashMessages.html' %}

            <div class="col-sm-8">

                <div class="diary-list">
                    {% for feedEntry in feed %}
{#                        {{ loop.index }}#}
                        {% if feedEntry.feedType == 'dia' %}
                            <div class="row diary-entry">
                                <div class="col-md-3">
                                    <br>
                                    {% if feedEntry.badge %}
                                        <img src="{{ feedEntry.imgsrc }}" height="60px" class="img-rounded">
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    <i class="fa fa-book"></i><br/>
                                    {{ feedEntry.displayDate.strftime('%Y-%m-%d') }}
                                    <h4><a href="{{ url_for('diaryDetail', diary_id=feedEntry.id) }}">{{ feedEntry.title }}</a></h4>
                                    <p>{{ feedEntry.diaryUser.fullname }}</p>
                                    <div class="detail">{{ feedEntry.detail|safe }}</div>
                                </div>
                            </div>
                            <hr/>
                        {% elif feedEntry.feedType == 'rem' %}
                            <div class="row diary-entry">
                                <div class="col-md-3">
                                    <br>
                                    {% if feedEntry.badge %}
                                        <img src="{{ feedEntry.imgsrc }}" height="60px" class="img-rounded">
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    <i class="fa fa-bell"></i><br/>
                                    {{ feedEntry.reminderStartDate.strftime('%Y-%m-%d') }}
                                    <h4><a href="{{ url_for('reminderDetail', reminder_id=feedEntry.id) }}">{{ feedEntry.title }}</a></h4>
                                </div>
                            </div>
                            <hr/>
                        {% elif feedEntry.feedType == 'pla' %}
                            <div class="row diary-entry">
                                <div class="col-md-3">
                                    <br>
                                    {% if feedEntry.badge %}
                                        <img src="{{ feedEntry.imgsrc }}" height="30px" class="img-rounded">
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    <i class="fa fa-pagelines"></i><br/>
                                    {% if feedEntry.plantingType == 'sowI' %}
                                        Sow seeds indoor
                                    {% elif feedEntry.plantingType == 'sowO' %}
                                        Sow seeds outdoors
                                    {% elif feedEntry.plantingType == 'tra' %}
                                        Transplant seedlings outdoors
                                    {% endif %}
                                    on {{ feedEntry.plantingDate.strftime('%Y-%m-%d') }}
                                    <h4><a href="{{ url_for('plantingDetail', planting_id=feedEntry.id) }}">{{ feedEntry.plantName }}</a></h4>
                                </div>
                            </div>
                            <hr/>
                        {% endif %}
                        {% if loop.index == show_records %}{% break %}{% endif %}

                    {% endfor %}
                </div>

                {% if show_records <= loop.index %}
                    <div>
                        {% set page = show_records + records_per_page %}
                        <a href="{{ url_for('dashboard', page=page) }}" class="btn btn-default">Show More <i class="fa fa-caret-square-o-down"></i></a>
                    </div>
                {% endif %}

            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <a href="{{ url_for('diary') }}" class="btn btn-success">New Diary Entry <i class="fa fa-leaf"></i></a>
                        <br/><br/>
                        <a href="{{ url_for('reminder') }}" class="btn btn-success">Add Reminder <i class="fa fa-bell"></i></a>
                        <br/><br/>
                        <a href="{{ url_for('planting') }}" class="btn btn-success">New Planting <i class="fa fa-tree"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}