{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-9 col-sm-offset-1 center">
            <h1>Garden Diary -- Dashboard</h1>

            {% include '_flashMessages.html' %}

            <div class="col-sm-8">

                <div class="diary-list">
                    {% for reminder in reminders %}
                        <div class="row diary-entry">
                            <div class="col-md-3">
                                {{ loop.index }}
                                <br>
                                {% if reminder.badge %}
                                    <img src="{{ reminder.imgsrc }}" height="30px" class="img-rounded">
                                {% endif %}
                            </div>
                            <div class="col-md-9">
                                {{ reminder.reminder_date.strftime('%Y-%m-%d') }}
                                <h4><a href="{{ url_for('reminderDetail', reminder_id=reminder.id) }}">{{ reminder.title }}</a></h4>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                    {% for diaryEntry in diary %}

                        <div class="row diary-entry">
                            <div class="col-md-3">
                                {{ loop.index }}
                                <br>
                                {% if diaryEntry.badge %}
                                    <img src="{{ diaryEntry.imgsrc }}" height="60px" class="img-rounded">
                                {% endif %}
                            </div>
                            <div class="col-md-9">
                                {{ diaryEntry.publish_date.strftime('%Y-%m-%d') }}
                                <h4><a href="{{ url_for('diaryEntryDetail', diary_id=diaryEntry.id) }}">{{ diaryEntry.title }}</a></h4>
                                <p>{{ diaryEntry.diaryUser.fullname }}</p>
                                <p>{{ diaryEntry.body }}</p>
                            </div>
                        </div>
                        <hr/>
                        {% if loop.index == show_records %}{% break %}{% endif %}

                    {% endfor %}
                </div>

                {% if show_records <= loop.index %}
                    <div>
                        {% set page = show_records + records_per_page %}
                        <a href="{{ url_for('dashboard', page=page) }}" class="btn btn-default">Show More <i class="fa fa-caret-square-o-down"></i></a>
                    </div>
                {% endif %}

            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <a href="{{ url_for('diaryEntry') }}" class="btn btn-success">New Diary Entry <i class="fa fa-leaf"></i></a>
                        <br/><br/>
                        <a href="{{ url_for('reminder') }}" class="btn btn-success">Add Reminder <i class="fa fa-bell"></i></a>
                        <br/><br/>
                        <a href="{{ url_for('planting') }}" class="btn btn-success">New Planting <i class="fa fa-tree"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}