{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3">
            {% if action == "new" %}
                <h1>Garden Diary -- Add New Entry</h1>
            {% else %}
                <h1>Garden Diary -- Edit Entry</h1>
            {% endif %}

            {% from "_formHelpers.html" import render_field %}

            {% if action == "new" %}
                <form method="POST" action="{{ url_for('entry') }}" role="form">
            {% else %}
                <form method="POST" action="{{ url_for('edit', diary_id=entry.id) }}" role="form">
            {% endif %}

                {{ form.hidden_tag() }}

                {{ render_field(form.title, class='form-control') }}
                {{ render_field(form.body, class='form-control', rows=10) }}

                {% if action == "new" %}
                    <button type="submit" class="btn btn-success">Add New Entry <i class="fa fa-leaf"></i></button>
                {% else %}
                    <button type="submit" class="btn btn-success">Update Entry <i class="fa fa-leaf"></i></button>
                {% endif %}

            </form>

        </div>
    </div>


{% endblock %}