{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center">

            <h1>Garden Diary -- Gardeners</h1>

            <div class="row">
                <div class="col-sm-12">
                    <h3>You are following {{ following|length }} gardeners</h3>
                    {% for gardener in following %}
                        ({{ gardener.followingUser.id }}){{ gardener.followingUser.fullname }},
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Suggested Gardeners to Follow</h3>
                    {% set x = 0 %}
                    {% for gardener in suggestedGardeners %}
                        <p>
                            {{ gardener.id }}: {{ gardener.fullname }} - {{ gardener.username }} -
                            {% if isFollowingList[x] %}
                                Following
                            {% else %}
                                Not Following
                            {% endif %}
                        </p>
                        {% set x = x + 1 %}
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>


{% endblock %}