{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3">
            {% if action == "new" %}
                <h1>Reminder - Add New</h1>
            {% else %}
                <h1>Reminder - Edit</h1>
            {% endif %}

            {% include '_flashMessages.html' %}

            {% from "_formHelpers.html" import render_field %}

            {% if action == "new" %}
                <form method="POST" action="{{ url_for('planting') }}" enctype="multipart/form-data" role="form">
            {% else %}
                <form method="POST" action="#" enctype="multipart/form-data" role="form">
            {% endif %}

                {{ form.hidden_tag() }}


                {% if entry and planting.badge %}
                    <img src="{{ planting.imgsrc }}" height="80px" class="img-rounded" />
                {% endif %}


                {{ render_field(form.badge, class='form-control') }}
                {{ render_field(form.plantName, class='form-control') }}
                {{ render_field(form.plantingType, class='form-control') }}

                {% if action == "new" %}
                    <button type="submit" class="btn btn-success">Add New Planting <i class="fa fa-bell"></i></button>
                {% else %}
                    <button type="submit" class="btn btn-success">Update New Planting <i class="fa fa-bell"></i></button>
                {% endif %}

            </form>

        </div>
    </div>


{% endblock %}